@charset "UTF-8";
/*======Powered by Sass======*/
/*======Page popup======*/
/*1. 导航条弹出层*/
.banner-popup {
  position: relative;
}

.headerRight-active {
  font-weight: 700;
}

.headerRight-active a {
  color: #E1251A !important;
}

.banner-popup > div {
  box-shadow: 2px 2px 2px #cccccc;
}

.myJD {
  display: none;
  position: absolute;
  width: 250px;
  height: 162px;
  left: 708px;
  top: 5px;
  z-index: 100;
}

.myJD ul {
    list-style: none;
    padding: 0;
  margin: 0;
}

.myJD li a {
    font-size: 12px;
  color: #999999;
}

.myJD li a:hover {
  text-decoration: none;
  color: #E1251A;
}

.myJD .list {
    height: 92px;
    background-color: #ffffff;
  border: solid 1px #cccccc;
}

.myJD .list ul {
  float: left;
}

.myJD .list ul:first-of-type {
  margin: 10px 0 0 20px;
}

.myJD .list ul:last-of-type {
  margin: 10px 0 0 50px;
}

.myJD .list + .list {
    height: 72px;
  border-top: none;
}

.myJD .list:first-of-type {
  border-bottom: solid 1px #f1f1f1;
}

.enterpriseBuy {
  display: none;
  position: absolute;
  width: 220px;
  height: 75px;
  left: 849px;
  top: 5px;
  z-index: 100;
}

.enterpriseBuy ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.enterpriseBuy li a {
  font-size: 12px;
  color: #999999;
}

.enterpriseBuy li a:hover {
  text-decoration: none;
  color: #E1251A;
}

.enterpriseBuy .list {
  height: 92px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}

.enterpriseBuy .list ul {
  float: left;
}

.enterpriseBuy .list ul:first-of-type {
  margin: 10px 0 0 20px;
}

.enterpriseBuy .list ul:last-of-type {
  margin: 10px 0 0 50px;
}

.enterpriseBuy .list + .list {
  height: 72px;
  border-top: none;
}

.enterpriseBuy .list:first-of-type {
  border-bottom: solid 1px #f1f1f1;
}

.enterpriseBuy .list {
  height: 75px;
  border: solid 1px #cccccc !important;
}

.customerServe {
  display: none;
  position: absolute;
  width: 230px;
  height: 245px;
  left: 775px;
  top: 5px;
  z-index: 100;
}

.customerServe ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.customerServe li a {
  font-size: 12px;
  color: #999999;
}

.customerServe li a:hover {
  text-decoration: none;
  color: #E1251A;
}

.customerServe .list {
  height: 92px;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}

.customerServe .list ul {
  float: left;
}

.customerServe .list ul:first-of-type {
  margin: 10px 0 0 20px;
}

.customerServe .list ul:last-of-type {
  margin: 10px 0 0 50px;
}

.customerServe .list + .list {
  height: 72px;
  border-top: none;
}

.customerServe .list:first-of-type {
  border-bottom: solid 1px #f1f1f1;
}

.customerServe .list ul:first-of-type {
  margin: 0 0 0 20px !important;
}

.customerServe .list ul:last-of-type {
  margin: 0 0 0 50px !important;
}

.customerServe .list:first-of-type {
  height: 135px;
}

.customerServe .list:last-of-type {
  height: 110px;
}

.customerServe .list > p {
  font-size: 12px;
  font-weight: 700;
  padding: 10px 0 0 20px;
  margin: 0;
  color: #666666;
}

.websiteGuide {
  display: none;
  position: absolute;
  width: 1170px;
  height: 172px;
  left: -15px;
  top: 5px;
  z-index: 100;
}

.websiteGuide .list {
  float: left;
  background-color: #ffffff;
  border: solid 1px #cccccc;
}

.websiteGuide .list ul {
  float: left;
}

.websiteGuide .list ul:first-of-type {
  margin: 10px 0 0 20px;
}

.websiteGuide .list ul + ul {
  margin: 10px 0 0 30px;
}

.websiteGuide .list:first-of-type {
  width: 360px;
  height: 172px;
}

.websiteGuide .list + .list {
  width: 270px;
  height: 172px;
  border-left: none;
}

.websiteGuide .list > p {
  font-size: 12px;
  font-weight: 700;
  padding: 10px 0 0 20px;
  margin: 0;
  color: #666666;
}

.websiteGuide ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.websiteGuide li a {
  font-size: 12px;
  color: #999999;
}

.websiteGuide li a:hover {
  text-decoration: none;
  color: #E1251A;
}

/*# sourceMappingURL=popup.css.map */
